body {
    background-color: rgb(207, 168, 171);
}

#flexcontainer {
    display: flex;
    /* or inline-flex */

}

#TitleContainer {
    max-width: 300px;
    width: 300px;
}

#scroll-container {
    /*border: 3px solid black;*/
    /*border-radius: 5px;*/
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    min-width: 220;
}

#scroll-text {
    /* animation properties */
    white-space: nowrap;
    white-space-collapse: preserve;
    /*overflow: hidden;*/
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
